.main {
  padding: 2em;
}

.header {
  padding-bottom: 2em;
}

.title{
  /*color: chocolate;*/
  padding-bottom: 1em;
}

.chat_main {
  position: relative;
  /*padding-bottom: 12em;*/
}

/* Mobile */
@media (max-width: 800px) {
  .main{
    padding: 2em .5em;
  }
  .header {

  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
